@charset 'utf-8';
//-------------------------------------------------------------------
//    Variables
//-------------------------------------------------------------------
// 컬러 강조
$color-primary: value;
$color-secondary: value;
$color-point1: value;