<div class="footer-sec">
	<div class="footer-logo">
		<span class="blind">WFI (재)원주미래산업진흥원</span>
	</div>

	<div class="footer-nav">
		<ul>
			<li><a href="../comm/terms.html" class="nav-link">이용약관</a></li>
			<li><a href="../comm/policy.html" class="nav-link">개인정보처리방침</a></li>
			<li><a href="../comm/sitemap.html" class="nav-link">사이트맵</a></li>
		</ul>
	</div>

	<div class="footer-contact">
		<p>원주미래산업진흥원</p>
		<p><strong>이사장</strong> 원강수</p>
		<address>강원 원주시 마재2로 10 2층 (재)원주미래산업진흥원</address>
		<p>TEL 0000 – 0000</p>
	</div>

	<div class="footer-copyright">
		<p>copyright</p>
	</div>
</div>