<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="원주미래산업진흥원" />
	<meta name="description" content="원주미래산업진흥원" />
	<title>Pages | 원주미래산업진흥원</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/WFI.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 전용 (개발적용안함) -->

	<!-- 페이지 스크립트 영역 -->
	<script></script>
</head>

<body>
	<!-- 레이아웃 유형구분
		메인: main-wrapper,
		서브: sub-wrapper,
		기타: [기타]-wrapper
	 -->
	<div class="wrapper">
		<!-- include_header.html -->
		<header class="header"></header>
		<!-- // include_header.html -->

		<!-- Container -->
		<main class="container">
			<!-- content -->
			<div id="content" class="content">

			</div>
			<!-- // content -->
		</main>
		<!-- // Container -->

		<!-- include_footer.html -->
		<footer class="footer"></footer>
		<!-- // include_footer.html -->
	</div>
</body>

</html>