@charset 'utf-8';
/*-------------------------------------------------------------------
	@Fonts
-------------------------------------------------------------------*/
@font-face {font-family:"NotoSans"; font-weight:100; src:url('../fonts/NotoSans-Thin.eot'); src:local('※'), url('../fonts/NotoSans-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Thin.woff') format('woff');}
@font-face {font-family:"NotoSans"; font-weight:300; src:url('../fonts/NotoSans-Light.eot'); src:local('※'), url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Light.woff') format('woff');}
@font-face {font-family:"NotoSans"; font-weight:400; src:url('../fonts/NotoSans-Regular.eot'); src:local('※'), url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Regular.woff') format('woff');}
@font-face {font-family:"NotoSans"; font-weight:500; src:url('../fonts/NotoSans-Medium.eot'); src:local('※'), url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Medium.woff') format('woff');}
@font-face {font-family:"NotoSans"; font-weight:700; src:url('../fonts/NotoSans-Bold.eot'); src:local('※'), url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Bold.woff') format('woff');}

/*-------------------------------------------------------------------
	@Resets
-------------------------------------------------------------------*/
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, main, footer, header, menu, nav, section,
button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b {margin:0; padding:0; border:0; list-style:none; font-style:normal; font-size:inherit; font-weight:inherit; font-family:inherit; color:inherit; box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit; -webkit-print-color-adjust:exact;}
:before, :after {box-sizing:inherit; -webkit-box-sizing:inherit; -moz-box-sizing:inherit; -o-box-sizing:inherit;}
main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
body {font-family:'NotoSans', 'sans-serif'; font-size:14px; line-height:1.5; word-break:break-all; word-wrap:break-word; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html[lang=ja] body, html[lang=zh] body {word-break:normal;}
[hidden], hr {display:none;}
img {vertical-align:middle;}
button {background-color:transparent; cursor:pointer;}
fieldset, iframe {width:100%;}
img, a, frame, iframe, fieldset {border:0;}
a {text-decoration:none;}
table {width:100%; border-spacing:0; border-collapse:collapse;}
caption {height:1px; overflow:hidden;}
legend {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
button {overflow:hidden; background-color:transparent; cursor:pointer;}
button::-moz-focus-inner {border:0px; padding:0px;}
input[type='checkbox'],input[type='radio'],select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
textarea {resize:none;}
select::-ms-expand {display:none;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {display:none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;}
input::-webkit-calendar-picker-indicator {-webkit-appearance:none;}
.dv-android [tabindex='0']:focus,
.dv-android a:focus,
.dv-android button:focus,
.dv-android input:focus,
.dv-android textarea:focus,
.dv-android select:focus {outline:0;}
.dv-ios [tabindex='0'],
.dv-ios a,
.dv-ios button,
.dv-ios input,
.dv-ios textarea,
.dv-ios select {-webkit-tap-highlight-color:transparent;}

/*-------------------------------------------------------------------
	@Utilities
-------------------------------------------------------------------*/
/* System */
.blind {position:fixed; overflow: hidden; border: 0; margin:-1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%);}
.hidden {display:none !important;}

/* Responsive Only */
.only-mo-block {display: block;}

/* Flex Area */
.left-area {margin-right: auto;}
.right-area {margin-left: auto;}


/*-------------------------------------------------------------------
	@Layout
-------------------------------------------------------------------*/
/* Variables */
:root {
	--aside-width: 80px;
	--header-height: 80px;
	--content-padding: 20px;
	--content-width: 1200px
}
/* Default */
body, html {height:100%;}
.wrapper {min-height:100%;}
.wrapper, .container, .content, .content-body {display:flex; flex-direction:column; flex-grow:1; flex-basis:auto;}
.header, .footer, .content-header, .content-footer {flex:none;}

/* Common */
.in-sec {width: 100%; max-width:var(--content-width); margin-left:auto; margin-right:auto; padding-left: var(--content-padding); padding-right: var(--content-padding);}

/* Layout */
.header {position: fixed; left: 0; top: 0; height: 80px; width: 100%; padding-left: var(--aside-width); color:  #fff;;}
.header-inner {display: flex; align-items: center; height: inherit; padding-top: 30px;}
.container {padding: var(--header-height) 0 84px 80px; line-height: 1.5;}
.content-header {width: 100%;}
.content-body {width: 100%;}
.aside {position: fixed; left: 0; top: 0; width: 90px; height: 100%; background-color: #fff;}
.footer {position: fixed; left: 0; bottom: 0; display: flex; align-items: center; width: 100%; height: 84px; padding-left: var(--aside-width); color: #fff; border-top: 1px solid rgba(255, 255, 255, 0.1)}
.footer-inner {display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; gap: 20px; height: 100%;}

/* Components */
.header .logo-area {}
.header .gnb-area {display: flex; flex:1 1 auto; margin-left: 100px;}
.header .gnb {display: flex; gap: 30px;}
.header .gnb .btn-gnb {font-size: 18px; font-weight: 700;}
.header .btn-area {position: relative; display: flex; flex:none; margin-left: auto;}
.header .btn-area .btn-login {height: 40px; padding: 5px 16px 7px; border:1px solid #fff; border-radius: 8px; color: #fff; font-size: 12px;}
.header .btn-area .btn-login::before {content:''; display: block; width: 16px; height: 16px; margin-right: 8px;}
.header .btn-area .drop-menu {display: block; position: absolute; top: 100%; left: 0; width: 100%; padding-top: 5px;}
.header .btn-area .drop-menu-list {display: block; padding: 3px; background-color: #fff; border-radius: 8px;}
.header .btn-area .drop-menu-list .btn {width: 100%; padding: 3px; color: #666; font-size: 12px;}
.header .btn-area .drop-menu-list .btn:hover,
.header .btn-area .drop-menu-list .btn:active,
.header .btn-area .drop-menu-list .btn:focus {color: orange;}

.aside .btn {flex-direction: column; width: 100%; height: 100px; background-color: orange; color: #fff; font-weight: 700;}
.aside .btn::before {content:''; display: block; width: 16px; height: 16px; background-color: #Fff; margin-bottom: 8px;}

.footer .left-area {flex:1 1 auto;}
.footer .left-area .contact {display: flex; flex-wrap: wrap; align-items: center; font-size: 12px; gap: 10px 20px;}
.footer .left-area .contact .contact-link {display: flex; align-items: center;}
.footer .left-area .contact .contact-link .btn {text-decoration: underline; text-underline-position: under;}
.footer .left-area .contact .contact-cs {display: flex; align-items: center; flex:none;}
.footer .left-area .contact .contact-cs .tit {margin-right: 4px; font-weight: 700;}
.footer .left-area .contact .contact-cs .txt {font-weight: 300; color: rgba(255,255,255,0.8);}
.footer .left-area .contact .contact-cs .split {display: block; width: 2px; height: 2px; margin:0 8px; background: #fff;}
.footer .left-area .copyright {margin-top: 8px; color: #666; font-size: 11px;}
.footer .right-area {margin: 0;}
.footer .right-area .btn-admin {height: 40px; padding: 5px 16px 7px; border:0; background-color: #999; border-radius: 8px; color: #fff; font-size: 12px;}
.footer .right-area .btn-admin::before {content:''; display: block; width: 16px; height: 16px; margin-right: 8px;}

@media (max-width: 1024px) {
	.header {padding-left: 0;}
	.container {padding-left: 0;}
	.footer {padding-left: 0;}
	.aside {display: none;}
	.header .gnb-area {display: none;}
}
@media (max-width: 640px) {
	.container {padding-bottom: 150px;}
	.footer {height: 150px;}
	.footer .left-area {width: 100%;}
}
@media (max-width: 480px) {
	.container {padding-bottom: 180px;}
	.footer {height: 180px;}
	.footer .left-area .contact .contact-link {width: 100%;}
}
