<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Accordions | 프로젝트 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 프로젝트 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 프로젝트 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body>
	<div class="wrapper">
		<!-- Container -->
		<main class="g-container">
			<div id="content" class="content">
				<div class="content-body outer">
					<div class="inner">
						<h1 class="g-h1">Accordion</h1>
					</div>
					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-head">
							<h2 class="g-h2">System</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">규칙</h3>
							<div class="g-tbl-type1">
								<table>
									<colgroup>
										<col style="width:200px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th class="align-l">기본</th>
											<td class="align-l"><code class="g-code-label">accordion</code></td>
										</tr>
										<tr>
											<th class="align-l">모듈</th>
											<td class="align-l"><code class="g-code-label">module-*</code></td>
										</tr>
										<tr>
											<th class="align-l">선택기능</th>
											<td class="align-l">선언하면 동기화 설정됨 : .accordion-collapse<code class="g-code-label">[data-bs-parent="#아코디언 아이디"]</code></td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="g-desc">
								<li>[참조] 부트스트랩 : <a href="https://getbootstrap.com/docs/5.3/components/accordion/" target="_blank" class="g-link">https://getbootstrap.com/docs/5.3/components/accordion/</a></li>
							</ul>
							<h3 class="g-h3">기본</h3>
							<xmp>
<div class="accordion module-a" id="accordionDemo1">
	<div class="accordion-item">
		<h3 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo11" aria-expanded="true" aria-controls="accordionDemo11">
				<span>Accordion Item #1</span>
			</button>
		</h3>
		<div id="accordionDemo11" class="accordion-collapse collapse show" data-bs-parent="#accordionDemo1">
			<div class="accordion-body">
				<p>Accordion Panel #1</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h3 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo12" aria-expanded="false" aria-controls="accordionDemo12">
				<span>Accordion Item #2</span>
			</button>
		</h3>
		<div id="accordionDemo12" class="accordion-collapse collapse" data-bs-parent="#accordionDemo1">
			<div class="accordion-body">
				<p>Accordion Panel #2</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h3 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo13" aria-expanded="false" aria-controls="accordionDemo13">
				<span>Accordion Item #3</span>
			</button>
		</h3>
		<div id="accordionDemo13" class="accordion-collapse collapse" data-bs-parent="#accordionDemo1">
			<div class="accordion-body">
				<p>Accordion Panel #3</p>
			</div>
		</div>
	</div>
</div>
							</xmp>

							<h3 class="g-h3">선택기능</h3>
							<h4 class="g-h4">속성</h4>
							<h5 class="g-h5">동기화 안할 시 : <code class="g-code-label">data-bs-parent=""</code> 삭제</h5>
							<!-- module-a -->
							<div class="accordion module-b" id="syncDemo1">
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#syncDemo11" aria-expanded="true" aria-controls="syncDemo11">
											<span>Accordion Item #1</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="syncDemo11" class="accordion-collapse collapse">
										<div class="accordion-body">
											<p>Accordion Panel #1</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#syncDemo12" aria-expanded="false" aria-controls="syncDemo12">
											<span>Accordion Item #2</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="syncDemo12" class="accordion-collapse collapse">
										<div class="accordion-body">
											<p>Accordion Panel #2</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#syncDemo13" aria-expanded="false" aria-controls="syncDemo13">
											<span>Accordion Item #3</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="syncDemo13" class="accordion-collapse collapse">
										<div class="accordion-body">
											<p>Accordion Panel #3</p>
										</div>
									</div>
								</div>
							</div>
							<!-- //module-a -->

						</div>
					</section>
					<!-- // Section -->
					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-head">
							<h2 class="g-h2">Modules</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">accordion</h3>
							<!-- module-a -->
							<h4 class="g-h4">module-a</h4>
							<div class="accordion module-a" id="accordionDemo1">
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo11" aria-expanded="true" aria-controls="accordionDemo11">
											<span>Accordion Item #1</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo11" class="accordion-collapse collapse show" data-bs-parent="#accordionDemo1">
										<div class="accordion-body">
											<p>Accordion Panel #1</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo12" aria-expanded="false" aria-controls="accordionDemo12">
											<span>Accordion Item #2</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo12" class="accordion-collapse collapse" data-bs-parent="#accordionDemo1">
										<div class="accordion-body">
											<p>Accordion Panel #2</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo13" aria-expanded="false" aria-controls="accordionDemo13" disabled>
											<span>Accordion Item #3 (disaebled)</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo13" class="accordion-collapse collapse" data-bs-parent="#accordionDemo1">
										<div class="accordion-body">
											<p>Accordion Panel #3</p>
										</div>
									</div>
								</div>
							</div>
							<!-- //module-a -->

							<!-- module-b -->
							<h4 class="g-h4">module-b</h4>
							<div class="accordion module-b" id="accordionDemo2">
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo21" aria-expanded="true" aria-controls="accordionDemo21">
											<span>Accordion Item #1</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo21" class="accordion-collapse collapse" data-bs-parent="#accordionDemo2">
										<div class="accordion-body">
											<span>Accordion Panel #1</span>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo22" aria-expanded="false" aria-controls="accordionDemo22">
											<span>Accordion Item #2</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo22" class="accordion-collapse collapse" data-bs-parent="#accordionDemo2">
										<div class="accordion-body">
											Accordion Panel #2
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo23" aria-expanded="false" aria-controls="accordionDemo23">
											<span>Accordion Item #3</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo23" class="accordion-collapse collapse" data-bs-parent="#accordionDemo2">
										<div class="accordion-body">
											Accordion Panel #3
										</div>
									</div>
								</div>
							</div>
							<!-- //module-b -->

							<!-- module-c -->
							<h4 class="g-h4">module-c</h4>
							<div class="accordion module-c" id="accordionDemo3">
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo31" aria-expanded="true" aria-controls="accordionDemo31">
											<span>Accordion Item #1</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo31" class="accordion-collapse collapse" data-bs-parent="#accordionDemo3">
										<div class="accordion-body">
											<span>Accordion Panel #1</span>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo32" aria-expanded="false" aria-controls="accordionDemo32">
											<span>Accordion Item #2</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo32" class="accordion-collapse collapse" data-bs-parent="#accordionDemo3">
										<div class="accordion-body">
											Accordion Panel #2
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h3 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionDemo33" aria-expanded="false" aria-controls="accordionDemo33">
											<span>Accordion Item #3</span>
											<i class="icn icn-12-demo-dk-a" aria-hidden="true"></i>
										</button>
									</h3>
									<div id="accordionDemo33" class="accordion-collapse collapse" data-bs-parent="#accordionDemo3">
										<div class="accordion-body">
											Accordion Panel #3
										</div>
									</div>
								</div>
							</div>
							<!-- //module-c -->
						</div>
					</section>
					<!-- // Section -->
				</div>
			</div>
		</main>
		<!-- // Container -->

		<!-- Footer -->
		<footer class="footer"></footer>
		<!-- // Footer -->
	</div>

	<script>
		// https://getbootstrap.com/docs/5.3/components/toasts/
		const toastTrigger = document.getElementById('liveToastBtn')
		const toastLiveExample = document.getElementById('liveToast')

		if (toastTrigger) {
			const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
			toastTrigger.addEventListener('click', () => {
				toastBootstrap.show()
			})
		}
	</script>

</body>

</html>