<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Icons | 프로젝트 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 프로젝트 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 프로젝트 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
	<style>
		.g-icon-list {
			display: flex;
			gap: 20px;
		}

		.g-icon-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5rem 10rem;
		}

		.g-icon-item.black {
			background-color: #000;
			color: #fff;
		}

		.g-icon-item p {
			font-size: 12px;
			line-height: 18px;
			margin-top: 4px;
		}
	</style>
</head>

<body>
	<div class="wrapper">
		<!-- Container -->
		<main class="g-container">
			<div id="content" class="content">
				<div class="content-body outer">
					<div class="inner">
						<h1 class="g-h1">Icon</h1>
					</div>
					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-header">
							<h2 class="g-h2">System</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">규칙</h3>
							<div class="g-tbl-type1">
								<table>
									<colgroup>
										<col style="width:200px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th class="align-l">기본</th>
											<td class="align-l"><code class="g-code-label">icn</code></td>
										</tr>
										<tr>
											<th class="align-l">형식</th>
											<td class="align-l"><code class="g-code-label">icn-[크기]-[분류]-[이름/모양]-[컬러/상태]</code></td>
										</tr>
									</tbody>
								</table>
							</div>

							<h3 class="g-h3">기본</h3>
							<xmp style="height: auto;">
<i class="icn icn-*" aria-hidden="true"></i>
							</xmp>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-header">
							<h2 class="g-h2">Demo</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">icn-16</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-16-demo-info-gr" aria-hidden="true"></i>
									<p>icn-16-demo-info-gr</p>
								</div>
							</div>

							<h3 class="g-h3">icn-20</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-20-demo-remove-dk" aria-hidden="true"></i>
									<p>icn-20-demo-remove-dk</p>
								</div>
								<div class="g-icon-item">
									<i class="icn icn-20-demo-srch-bk" aria-hidden="true"></i>
									<p>icn-20-demo-srch-bk</p>
								</div>
							</div>

							<h3 class="g-h3">icn-24</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-32-demo-close-bk" aria-hidden="true"></i>
									<p>icn-32-demo-close-bk</p>
								</div>
								<div class="g-icon-item black">
									<i class="icn icn-32-demo-close-wh" aria-hidden="true"></i>
									<p>icn-32-demo-close-wh</p>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->

					<!-- Section -->
					<section class="g-section inner">
						<div class="g-section-header">
							<h2 class="g-h2">Sizes</h2>
						</div>
						<div class="g-section-body">
							<h3 class="g-h3">icn-16</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-16-아이콘명" aria-hidden="true"></i>
									<p>icn-16-아이콘명</p>
								</div>
								<div class="g-icon-item">
									<i class="icn icn-16-아이콘명" aria-hidden="true"></i>
									<p>icn-16-아이콘명</p>
								</div>
								<div class="g-icon-item">
									<i class="icn icn-16-아이콘명" aria-hidden="true"></i>
									<p>icn-16-아이콘명</p>
								</div>
							</div>

							<h3 class="g-h3">icn-20</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-20-아이콘명" aria-hidden="true"></i>
									<p>icn-20-아이콘명</p>
								</div>
								<div class="g-icon-item">
									<i class="icn icn-20-아이콘명" aria-hidden="true"></i>
									<p>icn-20-아이콘명</p>
								</div>
							</div>

							<h3 class="g-h3">icn-24</h3>
							<div class="g-icon-list">
								<div class="g-icon-item">
									<i class="icn icn-24-아이콘명" aria-hidden="true"></i>
									<p>icn-24-아이콘명</p>
								</div>
								<div class="g-icon-item">
									<i class="icn icn-24-아이콘명" aria-hidden="true"></i>
									<p>icn-24-아이콘명</p>
								</div>
							</div>
						</div>
					</section>
					<!-- // Section -->
				</div>
				<div class="content-foot">
				</div>
			</div>
		</main>
		<!-- // Container -->

		<!-- Footer -->
		<footer class="footer"></footer>
		<!-- // Footer -->
	</div>
</body>

</html>