.hooks-container .content-head h2 {font-size:20px;}
.hooks-container .content-head h2 + p {margin-top:10px;}
.hooks-container .sec-head h3 {font-size:16px;}
.hooks-container .sec-body h4 {font-size:14px;}

.hooks-container .content-head {padding-bottom:10px; border-bottom:1px solid var(--color-line-dark);}
.hooks-container .content-body {margin-top:20px;}
.hooks-container .sec + .sec {margin-top:30px;}
.hooks-container .sec-body {margin-top:10px; padding:16px; border-radius:6px; box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.1);}

.hooks-container .desc {margin-top:20px; padding-top:10px; border-top:1px solid var(--color-line-light);}
.hooks-container .desc dt {font-weight:700;}

.hooks-container .ui.button {padding:8px 14px;}
