@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 템플릿 레이아웃
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Type A
-------------------------------------------------------------------*/
.page.template-user {
	// page-header
	.page-header {
		.inner {
			min-width: 100%;
		}

		.logo {
			display: block;
			width: 216rem;
			height: 26rem;
			background:
				url('../images/demo/img-demo-logo-bk.svg') no-repeat 0 0 / contain,
				url('../images/demo/img-demo-logo-wh.svg') no-repeat 0 1000rem / contain;
		}

		// GNB A
		.gnb.module-a {
			display: flex;
			align-items: center;
			flex: none;
			height: 100%;

			// Normal
			.dep1 {
				&-list {
					display: flex;
					flex: none;
					justify-content: center;
					gap: 30rem;
				}
				&-item {
					position: relative;
				}
				&-link {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					height: 80rem;
					padding: 10rem;
					font-weight: 700;
					font-size: 20rem;
					line-height: 88rem;
					color: #222;
					// &[aria-current="page"] {
					// 	color: $color-primary;
					// }
				}
			}

			.dep2 {
				&-menu {
					display: block;
					width: 160rem;
					position: absolute;
					top: 100%;
					left: 50%;
					pointer-events: none;
					visibility: hidden;
					opacity: 0;
					transition: all 0.2s ease;
					transform: translate(-50%, -10rem) scaleY(0);
					transform-origin: top center;
				}
				&-list {
					display: flex;
					flex-direction: column;
					gap: 4rem;
					padding: 15rem 8rem;
					background-color: #fff;
					border-radius: 8rem;
					border: 1px solid #ddd;
					box-shadow: 0 5rem 5rem 0 rgba(0,0,0,0.2);
				}
				&-item {
					width: 100%;
					text-align: center;
				}
				&-link {
					display: block;
					padding: 2rem 10rem;
					@include font-set(500, 16);
					color: #333;
					&[aria-current="page"] {
						color: $color-primary;
					}
					&[aria-current="page"]:hover,
					&:hover {
						border-radius: 4rem;
						background-color: $color-primary;
						color: #fff;
					}
				}
			}

			// Interaction
			.dep1-item {
				&.is-active {
					.dep1-link {
						color: $color-primary;
					}
					.dep2-menu {
						pointer-events: auto;
						visibility: visible;
						transform: translate(-50%, -10rem);
						opacity: 1;
						z-index: 10;
					}
				}
			}
		}

		// GNB B
		.gnb.module-b {
			display: flex;
			align-items: center;
			flex: none;
			height: 100%;

			// Normal
			.dep1 {
				&-list {
					display: flex;
					flex: none;
					justify-content: center;
					gap: 30rem;
				}
				&-item {
					position: relative;
				}
				&-link {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					height: 80rem;
					padding: 10rem;
					font-weight: 700;
					font-size: 20rem;
					line-height: 88rem;
					color: #222;
					// &[aria-current="page"] {
					// 	color: $color-primary;
					// }
				}
			}

			.dep2 {
				&-menu {
					display: block;
					width: 160rem;
					position: absolute;
					top: 100%;
					left: 50%;
					pointer-events: none;
					visibility: hidden;
					opacity: 0;
					transition: all 0.2s ease;
					transform: translate(-50%, 0rem) scaleY(0);
					transform-origin: top center;
				}
				&-list {
					display: flex;
					flex-direction: column;
					gap: 4rem;
					padding: 15rem 8rem;
					// background-color: #fff;
					// border-radius: 8rem;
					// border: 1px solid #ddd;
					// box-shadow: 0 5rem 5rem 0 rgba(0,0,0,0.2);
				}
				&-item {
					width: 100%;
					text-align: center;
				}
				&-link {
					display: block;
					padding: 2rem 10rem;
					@include font-set(500, 16);
					color: #333;
					&[aria-current="page"] {
						color: $color-primary;
					}
					&[aria-current="page"]:hover,
					&:hover {
						border-radius: 4rem;
						background-color: $color-primary;
						color: #fff;
					}
				}
			}
		}

		.util {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 16rem;

			.icn {
				background-position: 0 0, 0 1000rem;

				&.icn-32-demo-util-sigin-bk {
					background-image:
						url(../images/demo/icn-32-demo-util-sigin-bk.svg),
						url(../images/demo/icn-32-demo-util-sigin-wh.svg);
				}

				&.icn-32-demo-util-search-bk {
					background-image:
						url(../images/demo/icn-32-demo-util-search-bk.svg),
						url(../images/demo/icn-32-demo-util-search-wh.svg);
				}

				&.icn-32-demo-util-menu-bk {
					background-image:
						url(../images/demo/icn-32-demo-util-menu-bk.svg),
						url(../images/demo/icn-32-demo-util-menu-wh.svg);
				}
			}
		}

		// Theme
		&.theme-dark {
			.logo {
				background-position: 0 1000rem, 0 0;
			}
			.gnb {
				.dep1-link {
					color: #fff;
				}
			}
			.util {
				.icn {
					background-position: 0 1000rem, 0 0;
				}
			}
		}

		// 풀다운메뉴
		&::before {
			content:'';
			display: block;
			position: absolute;
			left: 0;
			bottom: 100%;
			width: 100%;
			height: 320rem;
			background-color: #fff;
			border-bottom: 1px solid #ddd;
			transform: translateY(0%);
			transition: all 0.2s ease;
		}

		&.is-active {
			&::before {
				transform: translateY(100%);
			}
			.gnb {
				.dep2-menu {
					pointer-events: auto;
					visibility: visible;
					transform: translate(-50%, -10rem);
					opacity: 1;
					z-index: 10;
				}
			}
		}
	}

	&.type-sub {
		.page-header:not(.theme-dark)::before {
			transform: translateY($pc-header-height);
		}
	}

	// page-footer
	.page-footer {
		padding-top: 40rem;
		padding-bottom: 40rem;
		text-align: center;
		background-color: #151921;
		border-top: 1px solid #ddd;
		color: #fff;

		.fnb-area {
			margin-top: 24rem;

			.fnb-list {
				display: flex;
				justify-content: center;
				gap: 20rem;
			}
			.fnb-link {
				font-size: 16rem;
				line-height: 24rem;
				color: #fff;

				strong {
					font-weight: 700;
				}
			}
		}

		.contact-area {
			margin-top: 8rem;

			.contact-list {
				display: flex;
				justify-content: center;
				gap: 20rem;
			}
		}

		.copyright-area {
			margin-top: 12rem;
			.copyright {
				font-weight: 400;
				color: #ccc;
			}
		}
	}

	// page-body
	.page-body {
		.content {
			&.module-a {
				.content-header {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 420rem;
					padding-top: $pc-header-height;
					background: url('../images/demo/visual-sub-01-pc.jpg') no-repeat center center / cover;
					color: #fff;
					text-align: center;

					.page-h1 {
						@include font-set(700, 60);
						color: #fff;
					}
					.page-explain {
						@include font-set(300, 20);
						color: #fff;
					}

					.breadcrumb {
						margin-top: 24rem;
						ol {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 4rem;
							li {
								@include font-set(500, 16);
							}
							a {
								position: relative;
								display: flex;
								align-items: center;
								gap: 4rem;
								&.home::before {
									content:'';
									display: block;
									width: 20rem;
									height: 20rem;
									background: url('../images/demo/icn-20-demo-breadcrumb-home-wh.svg') no-repeat center center;
								}
								&::after {
									content:'';
									display: block;
									width: 20rem;
									height: 20rem;
									background: url('../images/demo/icn-20-demo-breadcrumb-split-wh.svg') no-repeat center center;
								}
							}
						}
					}
				}

				.content-nav {
					--snb-height: 80rem;
					position: relative;
					height: var(--snb-height);
					z-index: 100;
					background-color: #fff;
					border-bottom: 1px solid #ddd;
					&.is-sticky {
						position: sticky;
						top: $pc-header-height;
					}
					.dep2-list {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 20rem;
					}
					.dep2-link {
						position: relative;
						display: flex;
						height: var(--snb-height);
						align-items: center;
						justify-content: center;
						padding: 10rem;
						@include font-set(500, 18);
						color: #444;
						&[aria-current="true"] {
							color: $color-primary;
							&::before {
								content:'';
								display: block;
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
								height: 2px;
								background-color: $color-primary;
							}
						}
					}
				}

				.content-body {
					padding-top: 100rem;
					padding-bottom: 100rem;

					.content-title {
						margin-bottom: 50rem;

						.page-h2 {
							@include font-set(700, 48);
							color: #000;
							text-align: center;
						}
					}
				}
			}

			&.module-b {
				padding-top: 200rem;
				.content-header {
					position: relative;
					z-index: 10;
					display: block;
					@include outer;
					overflow: hidden;

					.page-h1 {
						@include font-set(500, 24);
						color: $color-primary;
						transition: color 0.3s ease;
					}
					.page-explain {
						margin-top: 20rem;
						@include font-set(500, 60);
						letter-spacing: -3rem;
						color: #000;
						transition: color 0.2s ease;
					}

					&.white {
						.page-h1,
						.page-explain {
							color: #fff;
						}
					}

					.breadcrumb {
						margin-top: 24rem;
						ol {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 4rem;
							li {
								@include font-set(500, 16);
							}
							a {
								position: relative;
								display: flex;
								align-items: center;
								gap: 4rem;
								&.home::before {
									content:'';
									display: block;
									width: 20rem;
									height: 20rem;
									background: url('../images/demo/icn-20-demo-breadcrumb-home-wh.svg') no-repeat center center;
								}
								&::after {
									content:'';
									display: block;
									width: 20rem;
									height: 20rem;
									background: url('../images/demo/icn-20-demo-breadcrumb-split-wh.svg') no-repeat center center;
								}
							}
						}
					}
				}

				.content-visual {
					position: relative;
					z-index: 1;
					margin-top: 30rem;
					@include outer;
					// transition: all 0.3s ease;
				}

				.content-body {
					padding-top: 100rem;
					padding-bottom: 100rem;

					.content-title {
						margin-bottom: 50rem;

						.page-h2 {
							@include font-set(700, 48);
							color: #000;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
