		<div class="inner">
			<!-- logo-area -->
			<div class="logo-area">
				<a href="./" class="logo">
					<img src="../../assets/images/demo/img-demo-logo-bk.svg" alt="WFI (재)원주미래산업진흥원" />
				</a>
			</div>
			<!-- // logo-area -->

			<!-- gnb-area -->
			<div class="gnb-area">
				<nav class="gnb module-a">
					<ul class="dep1-list">
						<li class="dep1-item">
							<!--  현재 페이지일 경우: aria-current="page" -->
							<a href="#" class="dep1-link" aria-haspopup="true" aria-expanded="false" aria-current="page">회사소개</a>
							<div class="dep2-menu">
								<ul class="dep2-list">
									<li class="dep2-item">
										<a href="#" class="dep2-link">인사말</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">미션 및 비전</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">연혁</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">조직도</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">CI 소개</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">찾아오시는 길</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="dep1-item">
							<a href="#" class="dep1-link" aria-haspopup="true" aria-expanded="false">소통마당</a>
							<div class="dep2-menu">
								<ul class="dep2-list">
									<li class="dep2-item">
										<a href="#" class="dep2-link">공지사항</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">보도자료</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">경영공시</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">채용공고</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">자료실</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="dep1-item">
							<a href="#" class="dep1-link" aria-haspopup="true" aria-expanded="false">사업안내</a>
							<div class="dep2-menu">
								<ul class="dep2-list">
									<li class="dep2-item">
										<a href="#" class="dep2-link">주요사업</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">연구보고서</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">사업리포트</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">사업공고</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">이슈브리핑</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="dep1-item">
							<a href="#" class="dep1-link" aria-haspopup="true" aria-expanded="false">시설안내</a>
							<div class="dep2-menu">
								<ul class="dep2-list">
									<li class="dep2-item">
										<a href="#" class="dep2-link">시설/입주 안내</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">시설 예약</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">예약 현황</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">입주기업 소개</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="dep1-item">
							<a href="#" class="dep1-link" aria-haspopup="true" aria-expanded="false">고객지원</a>
							<div class="dep2-menu">
								<ul class="dep2-list">
									<li class="dep2-item">
										<a href="#" class="dep2-link">Support</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">자주하는 질문</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">1:1 문의 안내</a>
									</li>
									<li class="dep2-item">
										<a href="#" class="dep2-link">AI 상담원 문의</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
			<!-- // gnb-area -->

			<!-- util-area -->
			<div class="util-area">
				<div class="util">
					<a href="#" class="util-link">
						<i class="icn icn-32-demo-util-sigin-bk" aria-hidden="true"></i>
						<span class="sr-only">로그인</span>
					</a>
					<a href="#" class="util-link">
						<i class="icn icn-32-demo-util-search-bk" aria-hidden="true"></i>
						<span class="sr-only">검색</span>
					</a>
					<a href="#" class="util-link">
						<i class="icn icn-32-demo-util-menu-bk" aria-hidden="true"></i>
						<span class="sr-only">검색</span>
					</a>
				</div>
			</div>
		</div>
