		<div class="inner">
			<div class="logo-area">
				<img src="../../assets/images/demo/img-demo-logo-wh.svg" alt="WFI (재)원주미래산업진흥원" />
			</div>

			<div class="fnb-area">
				<ul class="fnb-list">
					<li class="fnb-item"><a href="../comm/terms.do" class="fnb-link">이용약관</a></li>
					<li class="fnb-item"><a href="javascript:void(0)" class="fnb-link" id="emailPolicyModalLink" data-bs-toggle="modal" data-bs-target="#mainEmailPolicyModal">이메일무단수집거부</a></li>
					<li class="fnb-item"><a href="../comm/policy.do" class="fnb-link"><strong>개인정보처리방침</strong></a></li>
				</ul>
			</div>

			<div class="contact-area">
				<ul class="contact-list">
					<li>주소 : (26395) 강원특별자치도 원주시 마재2로 10 창업지원허브 2층</li>
					<li>대표자 : 조영희</li>
					<li>대표번호 : 033-764-3160&ZeroWidthSpace;</li>
				</ul>
			</div>

			<div class="copyright-area">
				<p class="copyright">Copyright ⓒ WFI. All rights reserved.</p>
			</div>
		</div>
