<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="keywords" content="사이트명" />
	<meta name="description" content="사이트명" />
	<title>User Sub A | Ucomp</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.style.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/ui.template.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script>

	<!-- 페이지 스크립트 영역 -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Theme
			let darkCount = 0;
			document.querySelectorAll('[data-theme="dark"]').forEach(section => {
				const theme = section.dataset.theme;

				// 내려갈 때 (top 기준)
				ScrollTrigger.create({
					trigger: section,
					start: "top 0",
					end: "bottom ",
					onEnter: () => applyTheme(theme, "정+"),
					onLeave: () => removeTheme(theme, "정-"),
					onEnterBack: () => applyTheme(theme, "역+"),
					onLeaveBack: () => removeTheme(theme, "역-"),
				});
			});

			function applyTheme(theme, direction) {
				if (darkCount === 0) {
					document.querySelector('.page-header').classList.add('theme-dark');
				}
				darkCount++;
			}

			function removeTheme(theme, direction) {
				darkCount--;
				if (darkCount === 0) {
					document.querySelector('.page-header').classList.remove('theme-dark');
				}
			}
		});
	</script>
</head>

<body>
	<!--  유형구분
		메인: template-main,
		서브: template-sub,
		기타: template-[기타]
	 -->
	<div class="page type-sub template-user">
		<!-- page-skip -->
		<div class="page-skip">
			<a href="#content">본문 바로가기</a>
		</div>
		<!-- // page-skip -->

		<!-- page-header -->
		<header class="page-header theme-dark" data-include="./include_header.html"></header>
		<!-- //page-header -->

		<!-- page-body -->
		<main class="page-body">
			<!-- content -->
			<div id="content" class="content module-a">
				<!-- 본문영역 -->
				<!-- content-header -->
				<div class="content-header visual-01" data-theme="dark">
					<div class="inner">
						<h1 class="h1">진흥원 소개</h1>
						<p class="h1-explain">홈페이지에 방문해주신 여러분께 깊은 감사의 말씀을 드립니다.</p>
						<nav class="breadcrumb" aria-label="breadcrumb">
							<ol>
								<li><a href="/" class="home"><span class="blind">홈</span></a></li>
								<li><a href="/category">카테고리</a></li>
								<li aria-current="page">현재 페이지</li>
							</ol>
						</nav>
					</div>
				</div>
				<!-- // content-header -->
				<!-- content-nav -->
				<nav class="content-nav" aria-label="서브 네비게이션">
					<div class="inner">
						<ul class="dep2-list">
							<li class="dep2-item">
								<a href="#" class="dep2-link" aria-current="true">인사말</a>
							</li>
							<li class="dep2-item">
								<a href="#" class="dep2-link">미션 및 비전</a>
							</li>
							<li class="dep2-item">
								<a href="#" class="dep2-link">연혁</a>
							</li>
							<li class="dep2-item">
								<a href="#" class="dep2-link">조직도</a>
							</li>
							<li class="dep2-item">
								<a href="#" class="dep2-link">CI 소개</a>
							</li>
							<li class="dep2-item">
								<a href="#" class="dep2-link">찾아오시는 길</a>
							</li>
						</ul>
					</div>
				</nav>
				<!-- // content-nav -->
				<!-- content-body -->
				<div class="content-body">
					<div class="inner">
						<div class="content-title">
							<h2 class="h2">회사소개</h2>
						</div>
						<div style="height: 800rem; background-color: #eee;"></div>
					</div>
				</div>
				<!-- // content-body -->
				<!-- //본문영역 -->
			</div>
			<!-- // content -->
		</main>
		<!-- // page-body -->

		<!-- page-footer -->
		<footer class="page-footer" data-include="./include_footer.html"></footer>
		<!-- // page-footer -->
	</div>
</body>

</html>