@charset "utf-8";

/*-------------------------------------------------------------------
	분류그룹 : 버튼
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
/* 기본 */
.bul>li {
	position: relative;
	display: table;
}

.bul>li:before {
	content: '';
	display: table-cell;
	position: relative;
	padding-right: 5px;
}

/* 모양 */
.bul.dot>li {
	position: relative;
	display: block;
	padding-left: 12rem;
}
.bul.dot>li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 9rem;
	width:4rem;
	height:4rem;
	padding-right: 0;
	border-radius: 50%;
	background-color: #333;
}
.bul.square {
	position: relative;
	display: block;
}
.bul.square>li {
	padding-left: 12rem;
}
.bul.square>li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 9rem;
	width:5rem;
	height:5rem;
	padding-right: 0;
	background-color: #333;
}

/* 기호 */
.bul.dash>li::before {
	content: '-';
}

.bul.star>li::before {
	content: '*';
}

.bul.bill>li::before {
	content: '※';
}

/* 순서목록
    그룹 {counter-reset:이름}
    목록 {counter-increment:이름}
    순서 {content:"문자" counter(이름, 형식) "문자"} ("문자"는 생략가능)
*/
/* 숫자목록 : 1. (1) 1) ① */
.bul.num1 {
	counter-reset: num1;
}

.bul.num1>li:before {
	counter-increment: num1;
	content: counter(num1, decimal) ".";
}

.bul.num2 {
	counter-reset: num2;
}

.bul.num2>li:before {
	counter-increment: num2;
	content: "(" counter(num2, decimal) ")";
}

.bul.num3 {
	counter-reset: num3;
}

.bul.num3>li:before {
	counter-increment: num3;
	content: counter(num3, decimal) ")";
}

.bul.num4>li::before {
	content: '①';
}

.bul.num4>li+li::before {
	content: '②';
}

.bul.num4>li+li+li::before {
	content: '③';
}

.bul.num4>li+li+li+li::before {
	content: '④';
}

.bul.num4>li+li+li+li+li::before {
	content: '⑤';
}

.bul.num4>li+li+li+li+li+li::before {
	content: '⑥';
}

.bul.num4>li+li+li+li+li+li+li::before {
	content: '⑦';
}

.bul.num4>li+li+li+li+li+li+li+li::before {
	content: '⑧';
}

.bul.num4>li+li+li+li+li+li+li+li+li::before {
	content: '⑨';
}

.bul.num4>li+li+li+li+li+li+li+li+li+li::before {
	content: '⑩';
}

/* 한글목록 가. (가) 가) */
.bul.kor1>li::before {
	content: '가';
}

.bul.kor1>li+li::before {
	content: '나';
}

.bul.kor1>li+li+li::before {
	content: '다';
}

.bul.kor1>li+li+li+li::before {
	content: '라';
}

.bul.kor1>li+li+li+li+li::before {
	content: '마';
}

.bul.kor1>li+li+li+li+li+li::before {
	content: '바';
}

.bul.kor1>li+li+li+li+li+li+li::before {
	content: '사';
}

.bul.kor1>li+li+li+li+li+li+li+li::before {
	content: '아';
}

.bul.kor1>li+li+li+li+li+li+li+li+li::before {
	content: '자';
}

.bul.kor1>li+li+li+li+li+li+li+li+li+li::before {
	content: '차';
}

.bul.kor1>li+li+li+li+li+li+li+li+li+li+li::before {
	content: '카';
}

.bul.kor1>li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '타';
}

.bul.kor1>li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '파';
}

.bul.kor1>li+li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '하';
}

.bul.kor2>li::before {
	content: '(가)';
}

.bul.kor2>li+li::before {
	content: '(나)';
}

.bul.kor2>li+li+li::before {
	content: '(다)';
}

.bul.kor2>li+li+li+li::before {
	content: '(라)';
}

.bul.kor2>li+li+li+li+li::before {
	content: '(마)';
}

.bul.kor2>li+li+li+li+li+li::before {
	content: '(바)';
}

.bul.kor2>li+li+li+li+li+li+li::before {
	content: '(사)';
}

.bul.kor2>li+li+li+li+li+li+li+li::before {
	content: '(아)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li::before {
	content: '(자)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li+li::before {
	content: '(차)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li+li+li::before {
	content: '(카)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '(타)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '(파)';
}

.bul.kor2>li+li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '(하)';
}

.bul.kor3>li::before {
	content: '가)';
}

.bul.kor3>li+li::before {
	content: '나)';
}

.bul.kor3>li+li+li::before {
	content: '다)';
}

.bul.kor3>li+li+li+li::before {
	content: '라)';
}

.bul.kor3>li+li+li+li+li::before {
	content: '마)';
}

.bul.kor3>li+li+li+li+li+li::before {
	content: '바)';
}

.bul.kor3>li+li+li+li+li+li+li::before {
	content: '사)';
}

.bul.kor3>li+li+li+li+li+li+li+li::before {
	content: '아)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li::before {
	content: '자)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li+li::before {
	content: '차)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li+li+li::before {
	content: '카)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '타)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '파)';
}

.bul.kor3>li+li+li+li+li+li+li+li+li+li+li+li+li+li::before {
	content: '하)';
}

/* 알파벳목록 A. (a) a) ⓐ */
.bul.eng1 {
	counter-reset: eng1;
}

.bul.eng1>li::before {
	counter-increment: eng1;
	content: counter(eng1, upper-alpha) ".";
}

.bul.eng2 {
	counter-reset: eng2;
}

.bul.eng2>li::before {
	counter-increment: eng2;
	content: "(" counter(eng2, lower-alpha) ")";
}

.bul.eng3 {
	counter-reset: eng3;
}

.bul.eng3>li::before {
	counter-increment: eng3;
	content: counter(eng3, lower-alpha) ")";
}

.bul.eng4>li::before {
	content: 'ⓐ';
}

.bul.eng4>li+li::before {
	content: 'ⓑ';
}

.bul.eng4>li+li+li::before {
	content: 'ⓒ';
}

.bul.eng4>li+li+li+li::before {
	content: 'ⓓ';
}

.bul.eng4>li+li+li+li+li::before {
	content: 'ⓔ';
}

.bul.eng4>li+li+li+li+li+li::before {
	content: 'ⓕ';
}

.bul.eng4>li+li+li+li+li+li+li::before {
	content: 'ⓖ';
}

.bul.eng4>li+li+li+li+li+li+li+li::before {
	content: 'ⓗ';
}

.bul.eng4>li+li+li+li+li+li+li+li+li::before {
	content: 'ⓘ';
}

.bul.eng4>li+li+li+li+li+li+li+li+li+li::before {
	content: 'ⓙ';
}

/*-------------------------------------------------------------------
	@@ 모듈
-------------------------------------------------------------------*/
.bul {
	/* module-a */
	&.module-a {
		> li {
			font-size: 16rem;
			line-height: 24rem;
			&::before {
				width: 5rem;
				height: 5rem;
				background-color: #999;
			}
		}
	}

}
