@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 버튼
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
.btn {
	/* Default */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	gap: 4rem;
	.icn {
		vertical-align: top;
	}

	&.link {
		text-decoration: underline;
	}
	&:disabled {
		opacity: 0.5;
	}
	&.fluid {
		flex:1 1 auto;
		width: 100%;
	}

	/* Modules */
	&.module-a {
		min-width: 100rem;
		height: 48rem;
		padding: 5rem 20rem;
		font-size: 18rem;
		border-radius: 4rem;
	}

	&.module-b {
		min-width: 80rem;
		height: 44rem;
		padding: 5rem 16rem;
		font-size: 16rem;
		border-radius: 4rem;
	}

	&.module-c {
		min-width: 80rem;
		height: 36rem;
		padding: 3rem 16rem;
		font-size: 16rem;
		border-radius: 44rem;
	}

	&.module-d {
		gap: 2rem;
		font-size: 14rem;
		font-weight: 500;
	}

	&.module-e {
		width: 100%;
		height: 40rem;
		gap: 4rem;
		padding: 3rem 12rem;
		font-size: 16rem;
		color: #666;
		font-weight: 500;
		background-color: #f0f0f0 !important;
	}
}
