@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 아이콘
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
/* 기본 */
.icn {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	vertical-align: middle;
	background: no-repeat center center / contain;
}

// 추가하고 싶은 크기를 배열에 나열
$icn-sizes: (12, 14, 16, 20, 24, 28, 32, 140);
@each $size in $icn-sizes {
	[class*='icn-#{$size}'] {
		width: #{$size}rem;
		height: #{$size}rem;
	}
}

/* Demo */
.icn-14-demo-more-gr {
	background-image: url('../images/demo/icn-14-demo-more-gr.svg');
}
.icn-14-demo-info-wh {
	background-image: url('../images/demo/icn-14-demo-info-wh.svg');
}
.icn-16-demo-info-gr {
	background-image: url('../images/demo/icn-16-demo-info-gr.svg');
}
.icn-16-demo-star {
	background-image: url('../images/demo/icn-16-demo-star.svg');
}
.icn-16-demo-star-pr {
	background-image: url('../images/demo/icn-16-demo-star-pr.svg');
}
.icn-20-demo-remove-dk {
	background-image: url('../images/demo/icn-20-demo-remove-dk.svg');
}
.icn-20-demo-srch-bk {
	background-image: url('../images/demo/icn-20-demo-srch-bk.svg');
}
.icn-20-demo-breadcrumb-home-wh {
	background-image: url('../images/demo/icn-20-demo-breadcrumb-home-wh.svg');
}
.icn-20-demo-breadcrumb-split-wh {
	background-image: url('../images/demo/icn-20-demo-breadcrumb-split-wh.svg');
}
.icn-24-demo-star-gr {
	background-image: url('../images/demo/icn-24-demo-star-gr.svg');
}
.icn-24-demo-star-pr {
	background-image: url('../images/demo/icn-24-demo-star-pr.svg');
}
.icn-32-demo-close-bk {
	background-image: url('../images/demo/icn-32-demo-close-bk.svg');
}
.icn-32-demo-close-wh {
	background-image: url('../images/demo/icn-32-demo-close-wh.svg');
}
.icn-32-demo-util-menu-bk {
	background-image: url('../images/demo/icn-32-demo-util-menu-bk.svg');
}
.icn-32-demo-util-menu-wh {
	background-image: url('../images/demo/icn-32-demo-util-menu-wh.svg');
}
.icn-32-demo-util-search-bk {
	background-image: url('../images/demo/icn-32-demo-util-search-bk.svg');
}
.icn-32-demo-util-search-red {
	background-image: url('../images/demo/icn-32-demo-util-search-red.svg');
}
.icn-32-demo-util-search-wh {
	background-image: url('../images/demo/icn-32-demo-util-search-wh.svg');
}
.icn-32-demo-util-sigin-bk {
	background-image: url('../images/demo/icn-32-demo-util-sigin-bk.svg');
}
.icn-32-demo-util-sigin-wh {
	background-image: url('../images/demo/icn-32-demo-util-sigin-wh.svg');
}
.icn-32-demo-util-sigout-bk {
	background-image: url('../images/demo/icn-32-demo-util-sigout-bk.svg');
}
.icn-32-demo-util-sigout-wh {
	background-image: url('../images/demo/icn-32-demo-util-sigout-wh.svg');
}
.icn-140-demo-complete {
	background-image: url('../images/demo/icn-140-demo-complete.svg');
}
.icn-140-demo-fail {
	background-image: url('../images/demo/icn-140-demo-fail.svg');
}

/* Interaction */
.icn-24-demo-star-sel {
	background-image: url('../images/demo/icn-24-demo-star-gr.svg'), url('../images/demo/icn-24-demo-star-pr.svg');
	background-position: 0 0, 0 1000rem;
}
.is-selected .icn-24-demo-star-sel {
	background-position: 0 1000rem, 0 0;
}
