@charset "utf-8";

/*-------------------------------------------------------------------
	분류그룹 : 텍스트박스
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ Label
-------------------------------------------------------------------*/
.frm-tit {
	display: inline-block;
}

/*-------------------------------------------------------------------
	@@ Input
-------------------------------------------------------------------*/
.frm-inp {
	/* common */
	& {
		.inp {
			// 입력상태 인터렉션
			&:not(:placeholder-shown) + .on-right .btn-clear {
				display: block;
			}

			&:not(:placeholder-shown):disabled + .on-right .btn-clear {
				display: none;
			}

			&:not(:placeholder-shown):read-only + .on-right .btn-clear {
				display: none;
			}
		}
		.on-right {
			display: flex;
			align-items: center;
			gap: 4rem;
			position: absolute;
			right: 10rem;
			top: 0;
			height: 100%;
		}

		.btn-clear {
			display: none;
		}
	}

	/* module-a */
	&.module-a {
		display: inline-block;
		position: relative;
		height: 40rem;
		flex: 1 1 auto;
		width: 100%;
		.inp {
			width: 100%;
			height: 100%;
			line-height: 1.5;
			padding: 0 16rem;
			border: 1px solid #ddd;
			border-radius: 0;
			transition: all 0.2s ease;

			// 기본상태 인터렉션
			&:focus,
			&:hover,
			&.is-focused {
				border-color: $color-primary;
			}
			&:read-only,
			&:disabled {
				background-color: #f8f8f8;
			}
		}
	}

	/* module-b */
	&.module-b {
		display: inline-block;
		position: relative;
		height: 40rem;
		flex: 1 1 auto;
		width: 100%;
		.inp {
			width: 100%;
			height: 100%;
			line-height: 1.5;
			padding: 0 16rem;
			border: 1px solid #ddd;
			border-radius: 40rem;
			transition: all 0.2s ease;

			// 기본상태 인터렉션
			&:focus,
			&:hover,
			&.is-focused {
				border-color: $color-primary;
			}
			&:read-only,
			&:disabled {
				background-color: #f8f8f8;
			}
		}
	}

	/* module-c */
	&.module-c {
		display: inline-block;
		position: relative;
		height: 40rem;
		flex: 1 1 auto;
		border-radius: 40rem;
		width: 100%;
		.inp {
			width: 100%;
			height: calc(100% - 2px);
			line-height: 1.5;
			padding: 1px 10rem;
			border-bottom: 1px solid #ddd;
			border-radius: 0;
			transition: border-color 0.2s ease;

			// 기본상태 인터렉션
			&:focus,
			&:hover,
			&.is-focused {
				border-color: #0089b3;
			}
			&:focus-visible {
				outline:0;
				padding-bottom: 0;
				border-bottom: 2px solid #000;
			}
			&:read-only,
			&:disabled {
				background-color: #f8f8f8;
			}
		}
	}
}



/*-------------------------------------------------------------------
	@@ Textarea
-------------------------------------------------------------------*/
/* 스타일 */
.frm-textarea {
    display: flex;
    flex-direction: column;
	gap: 4rem;
	position: relative;
	.textarea {
		display: block;
		width: 100%;
		height: 100rem;
		padding: 10px;
		flex: 1 1 auto;
		border: 1px solid #ddd;
		border-radius: 0;
		line-height: 1.5;

		&:hover {
			border-color: #0089b3;
		}
		&:focus {
			border-color: #000;
			outline: 1px solid #000;
		}
		&:disabled {
			background-color: #f8f8f8;
		}
	}

	.on-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		bottom: 10rem;
		right: 10rem;
	}

	.under-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.bytes {
		font-size: 12rem;
		color: #666;
		.count {
			color: #000;
		}
	}
}


/*-------------------------------------------------------------------
	@@ Select
-------------------------------------------------------------------*/
/* 스타일 */
.frm-sel {
	&.module-a {
		display: flex;
		height: 40px;
		flex: 1 1 auto;
		width: 100%;
		.sel {
			width: 100%;
			height: 40px;
			padding: 0 30px 0 10px;
			border: 1px solid #ddd;
			background: url('../images/demo/icn-16-demo-select-arw.svg') no-repeat right 10px center;

			&:disabled.demo1 {
				background-color: #f7f7f7;
			}
		}
	}
}



/*-------------------------------------------------------------------
	@@ 유형
-------------------------------------------------------------------*/
/* File Attach */
.frm-file {
	position: relative;
	display: inline-flex;
}

.frm-file input.file {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.frm-file input.inp {
	display: inline-table;
}

.frm-file .btn-file {
	display: inline-table;
}