@use "sass:math";

//-------------------------------------------------------------------
//    Default Variables
//-------------------------------------------------------------------
// 웹폰트
$font-primary: 'Pretendard', 'sans-serif';
$font-secondary: ''; // 미정

// 레이아웃 프레임
$pc-header-height: 100rem;
$pc-content-width: 1200rem;
$pc-side-spacer: 60rem;
$mo-header-height: 80rem;
$mo-side-spacer: 25rem;
$mo-content-width: 320rem;

// IOS Safe Area Bottom 대응 (웹에서 상단은 필요 없음, 띠의 상하여백 동일한 비율 1.7)
$safe-area-bottom: (env(safe-area-inset-bottom, 0)/1.7);

// Pallet Colors
$color-gray: #666; // 기타 임시값
$color-dark: #333; // 기타 임시값
$color-black: #000; // 기타 임시값

// Content Colors
$color-tit: #222; // 제목 임시값
$color-body: #444; // 내용 임시값 (body 기본값으로 사용)
$color-info: #999; // 안내 임시값

// Accent Colors
$color-primary: #ba141a; // 첫번째 임시값
$color-secondary: #00ccaa; // 두번째 임시값

// State Colors
$color-positive: rgb(84, 47, 221); // 성공 임시값
$color-nagative: #ff0000; // 실패 임시값

// Item Colors
$color-item1: green; // item1 임시값
$color-item2: burlywood; // item2 임시값
$color-item3: coral; // item3 임시값

//-------------------------------------------------------------------
//    Custom Variables
//-------------------------------------------------------------------


//-------------------------------------------------------------------
//    Breakpoint Mixins (반응형 분기처리)
//-------------------------------------------------------------------
$media-tablet-xl: 1280px;
$media-tablet-xs: 1023px;
$media-mobile-xl: 767px;
$media-mobile-xs: 480px; // 갤럭시 S23 울트라 세로모드 가로 해상도: 432px 기준
$media-mobile-landscape: 960px; // 아이폰 14 프로 맥스 가로모드의 가로 해상도: 926px

// 기준 해상도
@mixin media-tablet-xl {
	@media all and (max-width: $media-tablet-xl) {
		@content;
	}
}

@mixin media-tablet-xs {
	@media all and (max-width: $media-tablet-xs) {
		@content;
	}
}

@mixin media-mobile-xl {
	@media all and (max-width: $media-mobile-xl) {
		@content;
	}
}

@mixin media-mobile-xs {
	@media all and (max-width: $media-mobile-xs) {
		@content;
	}
}

@mixin media-mobile-landscape {
	@media all and (max-width: $media-mobile-landscape) and (max-height: $media-mobile-xs) {
		@content;
	}
}

//-------------------------------------------------------------------
//    Utility Mixins (인자값이 없는 유틸 Mixins)
//-------------------------------------------------------------------
// 여백/너비 설정
@mixin outer {
	padding-left: $pc-side-spacer;
	padding-right: $pc-side-spacer;

	@include media-mobile-xl {
		padding-left: $mo-side-spacer;
		padding-right: $mo-side-spacer;
	}
}

@mixin inner {
	position: relative;
	max-width: $pc-content-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* 말줄임 */
@mixin ellipsis1 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsis2 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin ellipsis3 {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

//-------------------------------------------------------------------
//    Set Mixins (인자값을 받는 설정 Mixins)
//-------------------------------------------------------------------
// 폰트규칙
@mixin set-font($font-weight, $font-size, $ratio: 1.4) {
	$line-height: $font-size * $ratio;
	$rounded: math.ceil($line-height);

	@if ($rounded % 2 != 0) {
	  $rounded: $rounded + 1;
	}

	font-size: $font-size + rem;
	font-weight: $font-weight;
	line-height: $rounded + rem;
}

// Options
@mixin set-fill($activeColor) {
	color: #fff;
	background-color: $activeColor;
	border-color: $activeColor;
}
@mixin set-line($activeColor) {
	color: $activeColor;
	background-color: #fff;
	border-color: $activeColor;
}
@mixin set-underline($activeColor) {
	color: $activeColor;
	text-decoration: underline;
}
@mixin set-ghost($activeColor) {
	color: $activeColor;
	background-color: transparent;
	border-color: transparent;
}